* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #27a0d9;
    position: sticky;
    top: 0;
}

.nav h2 {
    display: flex;
    color: white;
    position: relative;
    right: 15%;
    background-image: linear-gradient(#BBD6B8, #94AF9F);
    box-shadow: 2px 2px 15px #373333;
    border-radius: 7px;
    animation: hella 2s linear infinite;
    transition: all 0.8s ease 0.4;
}

@keyframes hella {
    from {
        padding-right: 60px;
    }
    to {
        padding-left: 60px;
    }
}

.nav ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.nav ul li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}

.nav ul li a {
    text-decoration: none;
    padding: 8px 25px;
    color: #F6E1C3;
    transition: all 0.5s ease;
}

.nav ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 8px white;
    border-radius: 8px;
}

#sec {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.86);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}

#sec:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('firstimage.png') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}

.fa-solid{
    font-size: px;
}

.heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
    margin: 40px 0px;
    color: black;
}

.heading #am {
    color: rgb(210, 193, 162);
}

.heading #name {
    color: #4c62be;
    width: 100%;
    height: 100%;
    animation: animate 2s linear infinite;
    border-radius: #01fe87;
}

@keyframes animate {
    from {
        padding-left: 20px;
    }
    to {
        padding-right: 20px;
        color: #359fa3;
    }
}

.btn {
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
    border-radius: 20px;
}

.btn:hover {
    cursor: pointer;
    background-color: steelblue;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px #d5623b;
    font-weight: bold;
    border-radius: 20px;
}

.btn a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

#about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

#about-1{
    margin-top: 10px;
}

/* #pic {
    display: flex;
    border-radius: 1% 1% 1% 1% / 1% 1% 1% 1%;
    background-color: #e8fbff;
}

#pic img {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background-color: #26c7e4;
    width: 575px;
    height: 400px;
} */

#intro {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px rgb(19, 125, 174);
}

#intro span {
    font-size: 3.3rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #359fa3;
}

#port {
    display: flex;
    flex-direction: column;
    background-color: #65799b;
    color: white;
    align-items: center;
    padding: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 30px;
}

.gallery img {
    object-fit: cover;
    width: 860px;
    height: 440px;
    margin: 8px;
}

.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   width: 1200px;
   height: 100px;
   background-color: #5e87b8;
   font-size: 22px;
   box-shadow: 1px 1px 9px #F6E1C3;
   border-radius: 14px;
}

#services {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #b6d5e1;
    
}

#sevices h1 {
    color: aliceblue;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#headingss{
    color: #1d1716;
}



.box img {
    position: relative;
    width: 80px;
    height: 80px;
    background-color: white;
    padding: 8px;
}

#contact {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    padding: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 8px #373333;
}

#contact .heading{
    margin-top: 20px;
    margin-bottom: 10px;
}

.input {
    padding: 12px;
    margin: 10px;
    width: 20%;
    border: 2px solid rgb(60, 52, 46);
    border-radius: 12px;
    outline: none;
}

#msg {
    width: 20%;
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(60, 52, 46);
    border-radius: 12px;
    outline: none;
}

#send {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(52, 44, 39);
    border-radius: 12px;
    outline: none;
}

#send:hover {
    cursor: pointer;
    box-shadow: 0 0 10px whitesmoke;
}

.footer {
    font-weight: 200;
    background-color: #7a9eaf;
    color: white;
    padding: 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .social {
    text-align: center;
    padding: 10px;
}

.footer .social a i {
    margin-bottom: 5px;
}

.social i{
    margin: 17px;
    font-size: 40px;
}

.copyright {
    margin-top: 12px;
    color: white;
}

#spy{
    position: relative;
    align-items: center;
  text-decoration: none;
  font-size: 30px;
  color: #1d1716;
 

}

#check{
    position: absolute;
    font-size: 20px;
    top: -8px;
right: 10px;
color: white;
background-color: black;
box-shadow: 1px 1px 8px rgb(0, 0, 0);
border-radius: 8px;
width: 60px;
}
