* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: sticky;
    top: 0;
}

.nav h2 {
    display: flex;
    color: white;
    position: relative;
    right: 20%;
    background-image: linear-gradient(to left, black 80%, lightblue 10%);
    box-shadow: 0 10px 30px rgba(118, 85, 225, .7);
    animation: hella 2s linear infinite;
    transition: alternate;
}

@keyframes hella {
    from {
        padding-left: 40px;
    }
    to {
        padding-right: 40px;
    }
}

.nav ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.nav ul li {
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.nav ul li a {
    text-decoration: none;
    padding: 8px 25px;
    color: #3DCFD3;
    transition: all 0.5s ease;
}

.nav ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

#sec {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.86);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}

#sec:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('sunset1.jpg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}

.heading {
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
    color: black;
}

.heading #am {
    color: wheat;
}

.heading #name {
    color: #3DCFD3;
    width: 100%;
    height: 100%;
    animation: animate 2s linear infinite;
    border-radius: #01fe87;
}

@keyframes animate {
    from {
        padding-left: 20px;
    }
    to {
        padding-right: 20px;
        color: #01fe87;
    }
}

.btn {
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}

.btn:hover {
    cursor: pointer;
    background-color: steelblue;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px hotpink;
    font-weight: bold;
}

.btn a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

#about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}

#pic {
    display: flex;
    border-radius: 1% 1% 1% 1% / 1% 1% 1% 1%;
    background-color: #e8fbff;
}

#pic img {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background-color: #26c7e4;
    width: 575px;
    height: 400px;
}

#intro {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}

#intro h2 {
    font-size: 2.3rem;
    margin-bottom: 20px;
}

#port {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    align-items: center;
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 30px;
}

.gallery img {
    width: 360px;
    height: 240px;
    margin: 10px;
}

#services {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
}

#sevices h1 {
    color: aliceblue;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, #8449 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
    ;
}

.box:hover {
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px #084490;
}

.box img {
    width: 80px;
    height: 80px;
    background-color: white;
    padding: 10px;
}

#contact {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(29, 66, 24, 0.563);
    color: white;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
    ;
}

.input {
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}

#msg {
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}

#send {
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    outline: none;
}

#send:hover {
    cursor: pointer;
    box-shadow: 0 0 10px whitesmoke;
}

.footer {
    font-weight: 200;
    background-color: black;
    color: white;
    padding: 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .social {
    text-align: center;
    padding: 10px;
}

.footer .social a {
    size: 40px;
    margin-bottom: 10px;
}

.copyright {
    color: white;
}
